[submodule "apps/vies"]
	path = apps/vies
	url = https://github.com/Premitium/Vies.git
[submodule "eb_vies"]
	path = eb_vies
	url = https://github.com/Premitium/eb_vies.git
[submodule "apps/eb_vies"]
	path = apps/eb_vies
	url = https://github.com/Premitium/eb_vies.git
	branch = main
